# Virtual Environment
venv/
env/
ENV/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Logs
*.log

# SQLite DB (if used later)
*.db

# Build files
build/
dist/
*.egg-info/